.section-title {
	text-align: center;
	text-transform: uppercase;
}

header.hero-img {
	position: relative;
	height: 90vh;
	color: white;
	z-index: 0;

	h1 {
		text-transform: uppercase;
	}

	.hero-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 0, 0, 0.2);
		z-index: -5;
	}

	.hero-text {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
}

@media (min-width: 1200px) {
	header.hero-img {
		background-image: url('/DrMarkuszewski/public/hazelnut.jpg');
	}
}
